@page "/home"


<div style="position: relative; text-align: center;" class="container">
    <img src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/Background.png" alt="..." style="width:100%;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" class="centered">
        <h1 style="color: white;">PERSON MANAGEMENT</h1>
        <h5 style="color: white;">Manage person easily</h5>
    </div>
</div>


<div style="margin: 10px;width: 100%" class="row">
    <div style="margin: 10px;width: 45%" class="card">
        <div class="card-body">
            <h3>Feautures</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div style="margin: 10px;width: 45%" class="card">
        <div class="card-body">
            <h3>Login for more functions</h3>
            <input class="form-control" placeholder="email@email.com"/>
            <input style="margin-top: 10px" class="form-control" placeholder="password"/>
            <div class="row" style="margin-left: 10px;">
                <div>
                    <button style="margin-top: 10px;" type="button" class="btn btn-success">LogIn</button>
                </div>
                <div>
                    <button style="margin-top: 10px;margin-left: 10px;" type="button" class="btn btn-primary">SignUp</button>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 10px;width: 45%" class="card">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
    </div>
    <div style="margin: 10px;width: 45%" class="card">
        <div class="card-body">
            <h3>About developer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>
