@page "/"
@using DNP_Assignment1.Components


<div style="position: relative; text-align: center;" class="container">
    <img src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/Background.png" alt="..." style="width:100%;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" class="centered">
        <h1 style="color: white;">PEOPLE MANAGEMENT</h1>
        <h5 style="color: white;">Manage person easily</h5>
    </div>
</div>


<div style="margin: 10px;width: 100%" class="row">
    <div style="margin: 10px;width: 45%" class="card">
        <div class="card-body">
            <h3>About and feautures</h3>
            <p>Welcome to the people management system. The system was created as a school assignment using Blazor and .NET. Let’s discover what amazing features this system provides. Besides log-in and sign-up functions another cool stuff is a form that allows you to add new people and see them all together. What is more you can search for people by their first name, second name either their IDs. The project is still in process and by the time the new features might be implemented.</p>
        </div>
    </div>
    <LoginComponent></LoginComponent>
    <div style="margin: 10px;width: 45%" class="card">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VoNAQszEHHM" allowfullscreen></iframe>
        </div>
    </div>
    <div style="margin: 10px;width: 45%" class="card">
        <div class="card-body">
            <h3>About developer</h3>
            <div style="margin-top: 20px" class="row">
                <div class="form-group">
                    <img style="border-radius: 50%; max-width: 80px; max-height: 80px; margin-right: 10px; margin-left: 30px" src="https://avatars.githubusercontent.com/u/84182964?s=400&u=2d863a2c7e1198054bbfaca1ab9a39a946c847fa&v=4" alt="...">
                </div>
                <div style="max-width: 60%" class="form-group">
                    <h6>Radovan Santa</h6>
                    <p>I am a young programmer and UI/UX designer who study Software Engineering in Denmark.</p>
                    <h6>Find me on</h6>
                                <div style="margin-top: 5px" class="row">
                                    <a href="https://www.facebook.com/radovan.santa.1"><img style="max-width: 20px; max-height: 20px; margin-left: 20px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/Facebook.png" alt="..."></a>
                                    <a href="https://www.linkedin.com/in/radovan-š-7aa737134/"><img style="max-width: 20px; max-height: 20px; margin-left: 15px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/LinkedIn.png" alt="..."></a>
                                    <a href="https://github.com/radovansanta"><img style="max-width: 20px; max-height: 20px; margin-left: 15px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/Github.png" alt="..."></a>
                                </div>
                </div>
            </div>
        </div>
    </div>
</div>
