@page "/"
@using DNP_Assignment1.Components


<div style="position: relative; text-align: center;" class="container">
    <img src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/Background.png" alt="..." style="width:100%;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" class="centered">
        <h1 style="color: white;">PERSON MANAGEMENT</h1>
        <h5 style="color: white;">Manage person easily</h5>
    </div>
</div>


<div style="margin: 10px;width: 100%" class="row">
    <div style="margin: 10px;width: 45%" class="card">
        <div class="card-body">
            <h3>Feautures</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <LoginComponent></LoginComponent>
    <div style="margin: 10px;width: 45%" class="card">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
    </div>
    <div style="margin: 10px;width: 45%" class="card">
        <div class="card-body">
            <h3>About developer</h3>
            <div style="margin-top: 20px" class="row">
                <div class="form-group">
                    <img style="border-radius: 50%; max-width: 80px; max-height: 80px; margin-right: 10px; margin-left: 30px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/ProfileDefault.png" alt="...">
                </div>
                <div style="max-width: 60%" class="form-group">
                    <h6>Radovan Santa</h6>
                    <p>I am a young programmer and UI/UX designer who study Software Engineering in Denmark.</p>
                </div>
            </div>
            <h5>Find me on</h5>
            <div style="margin-top: 5px" class="row">
                <img style="max-width: 40px; max-height: 40px; margin-left: 40px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/Facebook.png" alt="...">
                <img style="max-width: 40px; max-height: 40px; margin-left: 15px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/LinkedIn.png" alt="...">
                <img style="max-width: 40px; max-height: 40px; margin-left: 15px" src="https://raw.githubusercontent.com/radovansanta/DNP_Assignment1/master/DNP_Assignment1/Images/Github.png" alt="...">
            </div>
        </div>
    </div>
</div>
