@page "/"
@using Models
@using System.Collections.Generic;
@using DNP_Assignment1.Components
@using DNP_Assignment1.Persistence
@inject FileContext _fileContext;

<h1>Hello, world!</h1>

<AdultForm MyParameter="Ahoj" />

<button class="btn btn-primary" @onclick="AddButton">
    Add
</button>


<div class="card-columns">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Radovan Santa</h5>
            <div class="row">
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="size: 20px; margin-right: 10px" src="..." alt="...">
                    <p class="card-text">293346</p>
                </div>
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="size: 20px; margin-right: 10px" src="..." alt="...">
                    <p class="card-text">M</p>
                </div>
            </div>
            <div class="row">
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="size: 20px; margin-right: 10px" src="..." alt="...">
                    <p class="card-text">student</p>
                </div>
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="size: 20px; margin-right: 10px" src="..." alt="...">
                    <p class="card-text">15000</p>
                </div>
            </div>
            <div class="row">
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="size: 20px; margin-right: 10px" src="..." alt="...">
                    <p class="card-text">brown</p>
                </div>
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="size: 20px; margin-right: 10px" src="..." alt="...">
                    <p class="card-text">brown</p>
                </div>
            </div>
            <div class="row">
              
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="size: 20px; margin-right: 10px" src="..." alt="...">
                    <p class="card-text">21</p>
                </div>
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="size: 20px; margin-right: 10px" src="..." alt="...">
                    <p class="card-text">74</p>
                </div>
                <div class="row" style="margin-left: 20px; margin-right: 20px">
                    <img style="size: 20px; margin-right: 10px" src="..." alt="...">
                    <p class="card-text">174</p>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <button style="margin-left: 30px; margin-right: 10px; margin-top: 10px" type="button" class="btn btn-danger btn-sm">Delete</button>
                    <button style="margin-top: 10px" type="button" class="btn btn-warning btn-sm">Warning</button>
                </div>
            </div>
        </div>
    </div>
</div>

 @foreach (var adult in _fileContext.Adults)
        {
            <tr>
                <td>@adult
                <td>@adult
                <td>@adult
                <td>@adult
            </tr>
        }






@code{
    public Adult _adult = new()
    {
        Id = 293346,
        Age = 21,
        Height = 180,
        Sex = "M",
        Weight = 73,
        EyeColor = "brown",
        FirstName = "Radovan",
        HairColor = "brown",
        LastName = "Santa", JobTitle = new Job()
        {
            JobTitle = "Student",
            Salary = 15000
        }
    };

    protected override void OnInitialized()
    {

    }


    private void AddButton()
    {
        _fileContext.AddAdult(_adult);
        Console.Out.WriteLine(_fileContext.Adults.Count);
    }

}

<SurveyPrompt Title="How is Blazor working for you?"/>